.valid-status{
    background-color: #1cc88a!important;
}

.invalid-status{
    background-color: #e74a3b!important;
}

.wait-status{
    background-color: #f6c23e!important;
}

table thead th {background-color: transparent!important; font-weight: bold;  color: #333!important;}
table thead th {border-top: 1px solid #eee;background-color: #f5f6f7;background-image: linear-gradient(#fff, #efefef);}
.valid-status, .invalid-status, .waiting-status { color: #fff; }
.waiting-status { background-color: #ffb64d; }
.small-icon { font-size: 15px; }